In [6]:
import pandas as pd
import numpy as np
mal_data = pd.read_csv("Malayalam_offensive_data_Training-YT (1).csv")
mal_data_test = pd.read_csv("final_test_mal-offensive-with-labels (1).csv")
mal_data.drop("ID", axis = 1, inplace = True)
mal_data_test.drop("ID", axis = 1, inplace = True)
import re
def remove_symbols(string):
    a = re.sub("(@[A-Za-z0-9]+)|(#[A-Za-z0-9]+)","",string)
    return a
mal_data["Tweets"] = mal_data["Tweets"].map(remove_symbols)

def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

mal_data["Tweets"] = mal_data["Tweets"].map(remove_emojis)
mal_data['Labels'] = mal_data['Labels'].replace({'OFF' : 1, 'NOT' : 0})
mal_data_test['Labels'] = mal_data_test['Labels'].replace({'HOF' : 1, 'NOT' : 0})

In [3]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\acer\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\acer\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
import openpyxl

ModuleNotFoundError: No module named 'openpyxl'

In [7]:
mal_data.head(5)

                                              Tweets  Labels
0                    Thaankal enthaan cheyyarullath?       0
1  Ee theetam WCC feminichigalude news aarkk vena...       1
2  fukru nem tiktok oolakale vilich charcha nadat...       1
3  Aashiq abu produce cheytharunnel ee problems u...       0
4  Pennungal oru team aayal ath moonjum ennu epoo...       1

In [8]:
mal_data_test.head(100)

                                               Tweets  Labels
0   athe beharyku deputationil pokam pinarai vijay...       0
1   USER cheruparamadathil than thinnunnath alla p...       0
2   USER cheruparamadathilpinaraayi shournuril oru...       1
3   USER vk pinarai thinnunnathu ninte okke theett...       1
4   USER george thante ammade poottile pooda kalay...       1
..                                                ...     ...
95  school vittu kuttikal odi varunnathu poleyanu ...       1
96  puliyalla oronnonnara simham thanne ithanu ach...       1
97         ennea thallanda ammaava njan nerea aavilla       0
98  bahra kendrathileakku poyal sakavu chinakku po...       0
99  angoodu chennal mati raw iyaalem kaattirikkena...       1

[100 rows x 2 columns]

In [9]:
X_train = mal_data["Tweets"]
y_train = mal_data["Labels"]
X_test = mal_data_test["Tweets"]
y_test = mal_data_test["Labels"]

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(X_train)

In [11]:
X_test = vectorizer.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators =60,criterion ='gini',max_depth=400,max_features ='log2',min_samples_split =5,max_leaf_nodes =450)

In [13]:
model.fit(X_train,y_train)

RandomForestClassifier(max_depth=400, max_features='log2', max_leaf_nodes=450,
                       min_samples_split=5, n_estimators=60)

In [15]:
from sklearn.metrics import classification_report
y_predicted = model.predict(X_test)
print(classification_report(y_predicted,y_test))

              precision    recall  f1-score   support

           0       0.89      0.76      0.82       793
           1       0.41      0.65      0.50       206

    accuracy                           0.74       999
   macro avg       0.65      0.70      0.66       999
weighted avg       0.79      0.74      0.75       999